PROJECT_ROOT=/absolute/path/to/your/project

LOG_DIR=logs
DATASET_DIR=dataset
MODEL_DIR=model_dir

DATASET_NAME=heart.csv
LOG_NAME=app.log
MODEL_NAME=heart_disease_prediction_model.joblib

TARGET_COL=target
TEST_SIZE=0.15
RANDOM_STATE=42

API_URL=http://127.0.0.1:8000/predict-heart-disease